/*
    All Common Codes Here
 */
* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    overflow-x: hidden;
    font-family: "Helvatica Neue", Helvatica, sans-serif;
}
.flex { display: flex; }
.flex-column { display: flex; flex-direction: column; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.align-center { align-items: center; }
.align-end { align-items: end; }
.container-custom { max-width: 1230px; margin: auto; height: 100%; }
@media screen and (max-width: 1230px){
    .container-custom { padding: 0 4vw; }
}
.bg-secondary { background: #F6EFE8; }
.bg-primary { background: #3D103D; color: #ffffff; }
.color-primary { color: #3D103D; }
.color-secondary { color: #F6EFE8; }
.main-nav { height: 80px; font-size: .9375rem; }
.logo { height: 25px; }
.nav-link {
    text-decoration: none;
    color: #000000;
    text-transform: capitalize;
    padding: 0 .9375rem;
}
.navbar-nav { margin-left: 0.9375rem; }
.outline-btn{
    border: 1px solid #3D103D;
    border-radius: 4px;
    color: #3D103D;
    padding: .75rem 1rem;
    font-size: .875rem;
    text-transform: uppercase;
    margin-left: .9375rem;
}
.primary-btn{
    border: 1px solid #3D103D;
    border-radius: 4px;
    color: #ffffff;
    background: #3D103D;
    padding: .75rem 1rem;
    font-size: .875rem;
    text-transform: uppercase;
    margin-left: .9375rem;
}
#try-for-free { height: 30rem; }
#try-for-free-heading { width: 50%; height: 100%; }
#try-for-free-image { width: 45%; height: 100%; }
h2.hero { font-size: 4rem; margin-bottom: 0; }
.btn { padding: 1rem; text-transform: uppercase; text-decoration: none; border-radius: 5px; font-weight: 500; }
#try-for-free .btn-wrapper { height: 57px; }
.responsive-media { width: 100%; height: auto; }